# US | EU
CONFIDENT_REGION="US"

# LOCAL | PROD | ON_PREM
CONFIDENT_ENVIRONMENT="PROD"

# Backend
CONFIDENT_BACKEND_LOCAL_URL=http://localhost:3001
CONFIDENT_BACKEND_ON_PREM_URL=
CONFIDENT_BACKEND_US_PROD_URL=https://api.confident-ai.com
CONFIDENT_BACKEND_EU_PROD_URL=https://eu.api.confident-ai.com

# API Keys

# For running the MCP locally or on stdio, you can set your CONFIDETN_API_KEY here.
# CONFIDENT_API_KEY=